    <div class="header">
      <div class="container">
        <h1>threadly</h1>
        <%= form_for @new_post do |f| %>
        
        <%= f.text_area :comment ,size: '20x40' %>
        <%= f.submit 'Post It' %>
        <% end %>
      </div>
    </div>

    <div class="main">
      <div class="container">
        
        <!-- Form goes here -->

        
        <ul class="comments">
          <% @all_posts.each do |p| %>
          
          <li><%= p.comment %></li>
          <% end %>
        </ul>

      </div>
    </div>